#text{
    display:none;
    margin-top: 10px;
}
#file{
    margin-top: 10px;
}

#idImage{
    padding:8px 0;
    font-size: 16px;
    font-weight: 500;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size: 18px;
    text-align: center;
}
.pagination {
    font-size: 16px;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: var(--primary);
    border-color: var(--primary);
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
td>img{
    height: 150px;
    width: 150px;
    object-fit: contain;
}
/* modal */
/* .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
} */
/* .modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
} */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-mb {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content:space-between;
    display: none;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    
}
.modal-mb.active{
    display: flex;
}
.modal-content {
    position: relative;
    background-color: #fff;
    font-size: 18px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
}
.modal-open {
    overflow: hidden;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}

/* .modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0,-25%);
    -ms-transform: translate(0,-25%);
    -o-transform: translate(0,-25%);
    transform: translate(0,-25%);
} */
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
button.close {
    -webkit-appearance: none;
    color: #000;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    font-size: 31px;
    transform: translateY(-23px);
}
.close,
.close-mb {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .8;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group.form-group-col{
    display: flex;
    flex-direction: column;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-footer {
    display: flex;
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    justify-content: end;
}
.btn-info {
    color: #fff!important;
    background-color: var(--primary)!important;
    border-color:  var(--primary)!important;
}
.form-control:focus {
    border-color: var(--primary)!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(252 74 26 /60%)!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(252 74 26 /60%)!important;
}
.table-title{
    margin:20px;
}
.table-title-header-title{
    cursor: pointer;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 700;
    color:red;
    margin-right: 4px;
    padding-right: 8px;
    margin-bottom: 10px;
}
.table-title-header{
    cursor: pointer;
    margin-left: 4px;
    font-size: 20px;
    font-weight: 700;
    color:red;
    border-right: 4px solid #ccc;
    margin-right: 4px;
    padding-right: 8px;
}
.table-title-header:nth-child(3)
{
    border-right: none;
}

.btn {
    display: block;
    min-width: 60px;
    height: 34px;
    border: none;
    background-color: var(--white);
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 12px;
    line-height: 1.8rem;
    margin-left: 8px;
}
.material-icons{
    transform:translateY(5px);
}
.btn-add{
    display: flex;
    justify-content:end;
   
}
.clearfix{
    display: flex;
    justify-content: end;
}
.edit ,.delete{
    font-size: 20px;
    padding:6px;
    color:var(--primary);
}
.submit a{
    text-decoration: none;
    padding:4px;
    background-color: var(--primary);
    color:#fff;
    font-size: 16px;
    border:1px solid var(--primary);
}
.home-product-shipping{
    font-size: 18px;
}
.table-content{
    display: flex;
}
.table-content-img{
    display: flex;
    align-items: center;
    
}
.table-content-img img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    
}
.table-content-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-left: 16px;
}
.table-content-container-name{
    font-size: 18px;
    color:#000;
    line-height:18px;
}
.table-content-container-description{
    font-size: 16px;
    line-height:16px;
    color:#444;
    word-break: break-word;
    line-height: 25px;
    margin-bottom: 4px;
}
@media (min-width: 768px)
{

.modal-dialog {
    width: 600px;
    margin: 30px auto;
}
.col-sm-6{
    display: flex;
    align-items: center;
    width:50%;
    
}
.col-sm-6-shop{
    display: flex;
    flex-direction: column;
    width:50%;
    
}

}
@media (max-width: 46.1875em){
    .table-title-header {
        margin-left: 10px;
        font-size: 20px;
        font-weight: 700;
        color: red;
    }
    td>img{
        width: 100px;
        height: 100px;
        object-fit: contain;
    }
}
/* Tablet and pc */
@media (min-width: 740px) 
{
   .hide-on-pc-tl{
    display: none;
   }

}
@media (max-width: 740px)
{
    .col-sm-6-mb{
        width: 50%;
        display: flex;
        align-items: center;
       
    }
    .col-sm-6-mb p{
        font-size: 30px;
        color:#000;

    }
    .table-title-header-mb{
        margin-bottom: 20px;
        border-right:none;
        font-size: 40px;
        margin-top: 22px;
        color:#000;
        
        
    }
    .hide-on-mb{
        display: none;
    }
    .modal-mb{
        width: 100%;
    }
    .modal-content{
        display: flex;
    width: 100%;
   
    }
    .modal-header-mb{
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        width: 70%;
    }
    .modal-header-mb a{
        font-size: 20px;
        color:var(--primary);
        padding:10px 0;
        cursor: pointer;
    }
    .close-mb{
        width: 30%;
        background-color:#fff;
        border:none;
        padding:0 20px;
        font-size: 35px;
        color:#000;
        line-height: 20px;
        cursor: pointer;
    }
    .modal-dialog{
        width:100%;
    }
    form{
        width: 100%;
    }
    
    
}
